@charset "UTF-8";

header > h1{
    text-align: right;
    background-color: black;
    color: white;
    margin-right: 10px;
    font-size: large;
}
header{
    background-color: black;
}

body{
    background-image: url(../imagens/spider.jpg);
    height: 100vh;
    background-position: right;
    background-repeat: no-repeat;
}

body > img{
    margin: auto;
    display: block;
    width: 70vw;
    height: 100px;
    display:none;
}

section{
    width: 500px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.74);
    display: block;
    float: right;
}

section > h2{
    display: block;
    margin: auto;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.514);
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0px 0px 5px black;
}

input#nome{
    margin-top: 20%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.589);
    border-radius: 20px;
    color: white;
    width: 400px;
    
}

input#email{
    height: 40px;
    background-color: rgba(0, 0, 0, 0.589);
    border-radius: 20px;
    width: 400px;
}

section > #psdesktop{
    display: block;
    margin: auto;
    margin-top: 10px;
}